<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://kit.fontawesome.com/0c5136295b.js" crossorigin="anonymous"></script>
</head>
<body>
        <table id="todoapp">
            <Caption>ToDo</Caption>
            <tr>
                <td colspan="4">
                    <h1 id="title">ToDo App</h1>
                </td>
            </tr>
            <tr>
                <td colspan="4"><label for="description">
                    Description
                    <input type="text" placeholder="Add A Description" id="description">
                </label></td>
            </tr>
            <tr>
                <td colspan="2">
                    <label for="category">Category
                        <select name="category" id="category" >
                            <option value="">Choose a Category</option>
                            <option value="Personal">Personal</option>
                            <option value="Work">Work</option>
                            <option value="Home">Home</option>
                        </select>
                    </label>
                </td>
                <td colspan="2">
                    <label for="date">
                        Due Date
                        <input type="date" name="date" id="date">
                    </label>
                </td>
            </tr>
            <tr>
                <td colspan="2"><button id="addTask"><i class="fa fa-plus"></i>    Add Task</button></td>
                <td colspan="2"><button id="deleteTask"><i class="fa fa-trash"></i>Delete Task</button></td>
            </tr>
            <%todos.forEach(function(todo){%>
                 <tr>
                     <td colspan="4" class="todo">
                         <%if(todo.done){%>
                             <input type="checkbox" name="<%=todo._id%>" id="<%=todo._id%>" checked>
                             <strong class="checked"><%=todo.description%></strong>
                              <strong> <%= todo.due_date %></strong>
                        <%}else {%>
                            <input type="checkbox" name="<%=todo._id%>" id="<%=todo._id%>" >
                            <strong ><%=todo.description%></strong>
                             <strong> <%= todo.due_date %></strong>
                       <%}%>
                     </td>
                 </tr> 
                <%})%>
        </table>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="/assets/js/scripts.js"></script>
</body>
</html>